@model MyForum.Models.Category
@{
	ViewData["Title"] = Model.Title;
}
<link href="~/css/my-tables.css" rel="stylesheet" />

@if (Model.IsHidden)
{
	<div class="alert alert-secondary">Эта категория <strong>скрыта</strong> от пользователей. Доступ только для модераторов и администраторов</div>
}

<!-- Название категории  -->
<table class="my-table">
	<tr class="category">
		<td class="category-td" colspan="5">
			<div class="category__title">@Model.Title</div>
			<button class="message-actions-btn action-btn">
				<div class="action-btn__actions">
					@if (User.Identity.IsAuthenticated)
					{
						<div id="@("report-" + Model.Id)" class="action-btn__action">Пожаловаться</div>
						// Отправка жалобы на категорию
						<script>
						$(document).ready(function() {
							$('@("#report-" + Model.Id)').click(function (e) {
								let text = prompt('Опишите причину жалобы:');
								if (text != null && text != '') {
									$.ajax({
										url: '/Forum/Report',
										type: 'POST',
										data: { id: '@Model.Id',objectType:'category', text: text },
										success: function () {
											alert('Жалоба отправлена');
										},
										error: function () {
											alert('Возникла ошибка при отправке жалобы');
										}
									});
								}
							});
						});
						</script>
					}
					@if (User.IsInRole("moder") || User.IsInRole("admin"))
					{
						@if (!Model.IsHidden)
						{
							<div id="@("hide-" + Model.Id)" class="action-btn__action">Скрыть категорию</div>
							// Скрыть категорию
							<script>
								$(document).ready(function() {
									$('@("#hide-" + Model.Id)').click(function (e) {
										let confirmDelete = confirm('Вы уверены, что хотите скрыть категорию? (Разделы скрыты не будут)');
										if (confirmDelete) {
											$.ajax({
												url: '/Forum/Hide',
												type: 'POST',
												data: { id: '@Model.Id', objectType: 'category'},
												success: function () {
													alert('Категория скрыта');
													location.reload();
												},
												error: function () {
													alert('Произошла ошибка');
												}
											});
										}
									});
								});
							</script>
						}
						else
						{
							<div id="@("unhide-" + Model.Id)" class="action-btn__action">Показать категорию</div>
							// Показать категорию
							<script>
								$(document).ready(function() {
									$('@("#unhide-" + Model.Id)').click(function (e) {
										let confirmDelete = confirm('Вы уверены, что хотите показать категорию?');
										if (confirmDelete) {
											$.ajax({
												url: '/Forum/Unhide',
												type: 'POST',
												data: { id: '@Model.Id', objectType: 'category'},
												success: function () {
													alert('Категория показана');
													location.reload();
												},
												error: function () {
													alert('Произошла ошибка');
												}
											});
										}
									});
								});
							</script>
						}

						<div id="@("delete-" + Model.Id)" class="action-btn__action">Удалить категорию</div>
						// Удалить категорию
						<script>
								$(document).ready(function() {
									$('@("#delete-" + Model.Id)').click(function (e) {
										let confirmDelete = confirm('Вы уверены, что хотите удалить категорию? (Разделы удалены не будут)');
										if (confirmDelete) {
											$.ajax({
												url: '/Forum/Delete',
												type: 'POST',
												data: { id: '@Model.Id', objectType: 'category'},
												success: function () {
													alert('Категория удалена');
													location.reload();
												},
												error: function () {
													alert('Произошла ошибка');
												}
											});
										}
									});
								});
						</script>

						<a asp-action="Edit" asp-controller="Forum" asp-route-id="@Model.Id" asp-route-objectType="category" class="action-btn__action">Редактировать категорию</a>
					}
				</div>
			</button>
		</td>
	</tr>
</table>
<table class="my-table my-table-5">
	<tr>
		<th class="table-headers"></th>
		<th class="table-headers">Раздел</th>
		<th class="table-headers">Тем</th>
		<th class="table-headers">Cообщений</th>
		<th class="table-headers">Последнее сообщение</th>
	</tr>
	<!-- Секция (раздел) -->
	@foreach (var s in Model.Sections)
	{
		var themes = s.Themes;
		Message lastMessage = null;
		if (themes != null)
		{
			foreach (var theme in themes)
			{
				var newLastMessage = theme.Theme.Messages.OrderByDescending(m => m.CreatingTime).FirstOrDefault();
				if (newLastMessage != null)
				{
					if (lastMessage == null)
					{
						lastMessage = newLastMessage;
					}
					else
					{
						if (lastMessage.CreatingTime < newLastMessage.CreatingTime)
							lastMessage = newLastMessage;
					}
				}
			}

		}
		<tr>
			<td class="td-content td-image-fixed"><img src="~/images/section-folder.gif" alt="" class="section__img"></td>
			<td class="td-content">
				<a asp-action="Section" asp-controller="Forum" asp-route-id="@s.Id" class="content__title">@s.Title</a>
				<p class="content__description">
					@s.Description
				</p>
			</td>
			<td class="content__numbers td-content">
				<div class="content__numbers__inner">@s.Themes.Count</div>
			</td>
			<td class="content__numbers td-content">
				<div class="content__numbers__inner">@s.Themes.Sum(t => t.Theme.Messages.Count)</div>
			</td>
			<td class="td-content td-last-message">
				<div class="last-message">
					@if (lastMessage != null)
					{
						<img src="~/images/icon-list.gif" alt="" class="last-message__img">
						<a asp-action="Theme" asp-controller="Forum" asp-route-id="@lastMessage.Theme.Id" class="last-message__text">@lastMessage.Text</a>
						<p class="last-message__author">от <a asp-action="AboutUser" asp-controller="Forum" asp-route-id="@lastMessage.Author.Id">@lastMessage.Author</a></p>
						<div class="last-message__link">
							<a title="К последнему сообщению" asp-action="ThemeByMessage" asp-controller="Forum" asp-route-themeId="@lastMessage.Theme.Id" asp-route-messageId="@lastMessage.Id" class="last-message__link-btn"></a>
							<p class="last-message__date">@lastMessage.CreatingTime.ToString("dd.MM.yyyy") <span class="time">@lastMessage.CreatingTime.ToString("HH:mm")</span></p>
						</div>
					}
				</div>
			</td>
		</tr>
	}
</table>

<script src="~/js/action-btn.js"></script>